<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
<header>
    <img id="image" src="https://i.imgur.com/OaSlSrd.png" alt="Logo">
    <div>
        
        <h1>Mingo</h1>
        <nav>
            <a href="/about">ABOUT</a>
            <a href="/">RECENT POSTS</a>
            <a href="/posts/pages/1">All POSTS</a>
            <% if (user) {%>
                <a href="/posts/new">CREATE POST</a>
                <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            <% } %>
        </nav>
    </div>
</header>

<main>