<%- include('./partials/header') %>
<div class="post-container">
<h2>What is Mingo?</h2>  

<p>Mingo is a minimalist, text-based app (inspired by Twitter) that allows for users to create subject-based posts and respond with comments.</p>

<h2>How do I use Mingo? </h2>

<h4>To make a post, complete the following steps: </h4>
    <ul>
        <li> Log in using your Google account. </li>
        <li> Click on 'Create a Post'</li>  
        <li> Enter a title for your post.  What subject will you be discussing? </li>  
        <li> Enter your thoughts in the provided box. </li> 
        <li> Click 'Create Post' to save your post. </li> 
    </ul>


<h4> To edit or delete an existing post </h4> 
<ul>  
        <li> Log in using your Google account. </li>
        <li> Click on the title </li>  
        <li> Click the Edit button</li>
        <li> Edit your content </li>
    </ul>
<h4>  To view, add, or edit comments to an existing post,  </h4> 
<ul>  
    <li> Log in using your Google account. </li>
    <li> Click on the comments link </li>  
    <li> Add your comment</li>
    <li> Click on Comment </li>
</ul>
</div>
<%- include('./partials/footer') %>