body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color:rgb(33, 52, 52);
  display: grid;
  grid-template:
    "header" 150px
    "main" 1fr;

}

header {
  grid-area: header;
  padding: 10px;
  background-color:rgb(79, 160, 123);
  box-shadow: 0px 6px  rgb(52, 105, 81);
  display: grid;
  grid-template:
    "img navbar" 25px
    / auto 1fr;
  gap: 10px;
}

header h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 60px;
  margin:0px;
  color:rgb(255, 192, 229);
  text-shadow:3px 3px rgb(33, 52, 52);

 }

#image {
  height: 100px;
  width: 100px;
  margin: 10px;
}

nav {
  border-top: 3px solid rgb(255, 192, 229);
  width: 100%;
  display: flex;
  gap: 10px;
}

nav a {
  background-color:  rgb(52, 105, 81);
  padding: .5rem;
  margin: 10px 0 0 0;
  border-radius: .5rem;
  text-decoration: none;
  color: aliceblue;
  box-shadow: 3px 3px rgb(33, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

main {
  grid-area: main;

  padding: 20px;

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.post-container {
  width: 80%;
  border-radius: .5rem;
  padding: 2%;
  background-color: rgb(206, 243, 230);
  box-shadow: 3px 3px rgb(87, 135, 135);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  
}

.post-container > * {
  width: 100%; 
}

.post-container > a {
  text-align: center;
  padding: 1% 0 0 0; 
}

.post-container h2 {
  font-weight: bold;
}

.title-line { 
  display: flex; 
  gap: 30px; 
  align-items: center; 
  border-bottom: 3px solid rgb(87, 135, 135);
}

.edited {
    color: gray;
} 

#new-post-form { 
  display: grid;
  gap: 15px; 
  grid-template: 
    "title ..... " 1fr
    "body  ..... " 3fr
    "body  button" 1fr
  /1fr 200px;
  border-radius: 1rem;
  padding: 2%;
  width: 80%;
  background-color: rgb(206, 243, 230);
  box-shadow: 3px 3px rgb(87, 135, 135);
} 

#new-post-form *, #new-comment-form * {
  font: 18px "Quicksand", sans-serif;
}

#new-post-form > #title-input {
  grid-area: title; 
  height: 30px; 
  border-radius: 1rem; 
  padding: 1%;
}

#new-post-form > #body-input {
  grid-area: body; 
  height: 200px; 
  border-radius: 1rem; 
  padding: 1%;
}

#new-post-form > button {
  grid-area: button; 
  border-radius: 1rem;
  border-color: grey;
  background-color:  rgb(52, 105, 81);
  color: aliceblue;
  box-shadow: 3px 3px rgb(33, 52, 52);
}
textarea {
  resize: none;
}

#new-comment-form { 
  display: grid;
  gap: 15px; 
  grid-template: 
    "body ." 2fr
    "body button" 1fr
  /1fr 150px;
  border-radius: 1rem;
  padding: 2%;
  width: 80%;
  background-color: rgb(206, 243, 230);
  box-shadow: 3px 3px rgb(87, 135, 135);
 
}

#new-comment-form > #body-input {
  grid-area: body; 
  height: 90%; 
  border-radius: 1rem;
  padding: 1%;
}

#new-comment-form > button {
  grid-area: button; 
  border-radius: 1rem;
  border-color: grey;
  background-color:  rgb(52, 105, 81);
  color: aliceblue;
  box-shadow: 3px 3px rgb(33, 52, 52);
}

  
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  background-color: rgb(79, 160, 123);
  box-shadow: 3px 3px  rgb(52, 105, 81);
  border-radius: 5px;
  padding: 10px 0 40px 0;
}
.comments-container .post-container {
  width: 90%; 
}

.bottom-row {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  gap: 30px; 
  width: 100%; 
  border-top: 3px solid rgb(87, 135, 135);
}
.bottom-row button, .bottom-row a { 
  align-self: center;
  margin: 10px 0 0 0; 
  border-radius: 1rem;
  background-color:  rgb(52, 105, 81);
  font: 16px "Quicksand", sans-serif; 
  text-decoration: none;
  color: aliceblue;
  padding: 5px; 
  border-style: outset;
  border-width: 2px;
  border-color: grey;
  box-shadow: 3px 3px rgb(33, 52, 52);
} 

.bottom-row form { 
  margin: 0; 
  padding: 0; 
  height: 100%;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

@media screen and (max-width: 500px) { 
  body { 
    grid-template:
    "header" 100px
    "main" 1fr;
  }

  header h1 {
    font-size: 30px;
  }
 
  #image {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
  .edited { 
    display: collapse; 
    visibility: hidden; 
  }
  * { 
    font-size: 10px; 
  }
  #new-post-form *, #new-comment-form * {
    font-size: 10px 
  }
  #new-comment-form { 
    grid-template: 
      "body ." 1fr
      "body button" 1fr
    /1fr 25%;  
  }
  .bottom-row button, .bottom-row a {
    font-size: 10px;
  }
  #new-post-form { 
    grid-template: 
      "title . " 1fr
      "body  . " 4fr
      "body  button" 1fr
    /1fr 25%;
  } 
}