<%- include('../partials/header') %>

<form method="POST" action="/posts">
<label><input type="text" name="title"></label>
<label><input type="text" name="body"></label>
<button type="submit">Create Post</button>
</form>


<%- include('../partials/footer') %>
